<?xml version="1.0" encoding="UTF-8"?>
<!--测试用-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test?
                serverTimezone=UTC&amp;useSSL=false&amp;userUnicode=true&amp;charaterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="a3107883774"/>
            </dataSource>

        </environment>

    </environments>
    <mappers>
        <mapper resource="com/whut/mapper/UsertMapper.xml"/>
    </mappers>
</configuration>


