body{
    padding: 0;
    margin: 0;
    width: 1519px;
    background-color: black;
}
#text-aera{
    color: white;
    position: relative;
    left: 50%;
    height: 300px;
    width: 600px;
    margin-left: -300px;
}
#screen{
    position: relative;
    left: 50%;
    height: 300px;
    width: 600px;
    background-color: white;
    border: 1px solid #000000;
    margin-left: -300px;
}
#player{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
}
#control{
    position: relative;
    left: 50%;
    margin-left: -300px;
}