body{

    padding: 0;
    margin: 0;
    width: 1519px;
    background-color: black;
}
table,th,td{
    margin: 0;
    padding: 0;
    border: black 0.5px solid;
    border-collapse: collapse;
    border-bottom-color: white;
    color: white;
}
tr{
    border-bottom: white 0.5px solid;
}
td{
    text-align: center;
}
.name{
    width: 150px;
}
.weight{
    width: 100px;
}
.operation{
    width: 100px;
}
#text-aera{
    color: white;
    position: relative;
    left: 50%;
    height: 200px;
    width: 650px;
    margin-left: -325px;
    overflow: hidden;
}
#message{
    left: 50%;
    margin-left: -325px;
    overflow: hidden;
    position: relative;
    color: white;
    height: 50px;
    width: 650px;
    bottom: 0;
}
#screen{
    padding: 0;
    position: relative;
    left: 50%;
    height: 350px;
    width: 650px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #000000;
    margin-left: -325px;
}
#player{
    position: absolute;
    top:150px;
    left: 300px;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
}
#object_table{
    position: absolute;
    top: 250px;
    left: 1090px;
    width: 350px;
    height: 50px;
}
#control{
    position: relative;
    left: 50%;
    margin-left: -300px;
}
pre{
    font-size:16px; /*设置字号*/
}
/*方向标*/
.direction{
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}
#east{
    left: 600px;
    top: 150px;
    background-image: url(/images/east.png);
}
#west{
    left: 0px;
    top: 150px;
    background-image: url(/images/west.png);
}
#south{
    left: 300px;
    top: 300px;
    background-image: url(/images/south.png);
}
#north{
    left: 300px;
    top: 0px;
    background-image: url(/images/north.png);
}
/*物品显示*/
.object{
    padding: 0;
    margin: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    display: none;
    background-repeat: no-repeat;
    background-size: 100%;
    /*display: none;*/
}
.object:hover{
    width: 55px;
}
#TV{
    left: 100px ;
    top: 150px;
    background-image: url(/images/TV.png);
}
#seat{
    left: 550px;
    top: 250px;
    background-image: url(/images/seat.png);
}
#cup{
    left: 400px;
    top: 200px;
    background-image: url(/images/cup.png);
}
#wine{
    left: 200px;
    top: 200px;
    background-image: url(/images/wine.png);
}
#microscope{
    left: 200px;
    top: 250px;
    background-image: url(/images/microscope.png);
}
#computer{
    left: 400px;
    top: 250px;
    background-image: url(/images/computer.png);
}
#desk{
    left: 400px;
    top: 300px;
    background-image: url(/images/desk.png);
}
#book{
    left: 300px;
    top: 325px;
    background-image: url(/images/book.png);
}
#pen{
    left: 250px;
    top: 300px;
    background-image: url(/images/pen.png);
}